<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div style="background-color:lightblue; padding-top:2rem; padding-bottom:2rem; margin-top:1.5rem">
    <h1 class="body" style="text-align:center">Welcome to the Home Page</h1> <br>
    <form action="/logout" method="POST">
        <button type="submit" style="background-color:red; text-align:center;border-radius: 0.30rem; margin-left:92%; margin-top:5%; color:white; border:0.75px solid lightgray;padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;">Logout</button>
    </form>
</div>

<p class="label" style="font-size:25px; text-align:center;">You are logged in!</p>

<div style="border-top: 0.5px solid lightgray; padding-top:0.5rem; padding-bottom:0.5rem">
    <!-- Check if counselling is active -->
<!--    <th:block th:if="${isCounsellingActive}">-->
        <a href="/studentform" style="font-size:20px; margin-left:0.5rem;">Go to MBBS Counselling Form</a> <br>
<!--    </th:block>-->

<!--    &lt;!&ndash; If counselling is inactive, show a disabled button with the counselling deadline &ndash;&gt;-->
<!--    <th:block th:unless="${isCounsellingActive}">-->
<!--        <button disabled style="font-size:20px; background-color:gray; color:white; border:none; padding:5px 10px; cursor:not-allowed;">-->
<!--            MBBS Counselling (Closed) <br>-->
<!--            <span th:text="'Closed after: ' + ${counsellingDeadline}"></span>-->
<!--        </button>-->
<!--    </th:block>-->
</div>

</body>
</html>
